# Git
**/.git
**/.gitignore
**/.gitattributes

# IDEs & Editors
**/.vs
**/.vscode
**/.idea
**/.project
**/.settings
**/*.user
**/*.suo
**/*.DotSettings.user

# Build artifacts
**/bin
**/obj
**/out
**/publish

# Logs
**/logs
**/Logs
**/*.log

# Docker files
**/.dockerignore
**/docker-compose*
**/Dockerfile*

# Environment variables
**/.env
**/.env.*
**/appsettings.Local.json
**/appsettings.Development.json
**/appsettings.Production.json

# Documentation & configs
README.md
LICENSE
**/*.md
!docs/*.md

# Temporary files
**/*.tmp
**/*.temp
**/docker-data

