
# BotX Platform (ОБЯЗАТЕЛЬНО)
EXPRESSBOT__BOTID=ef45fc05-5425-56fd-ae2b-d60b82b9827a
EXPRESSBOT__BOTSECRETKEY=9d993361696617fad8c7a7aa5342cd1b
EXPRESSBOT__BOTXAPIBASEURL=https://express.multifactor.dev
EXPRESSBOT__EXPECTEDISSUER=express.multifactor.dev

# BotX Settings (опционально)
EXPRESSBOT__REQUESTTIMEOUTSECONDS=30
EXPRESSBOT__PROTOVERSION=4
EXPRESSBOT__ENABLEDETAILEDLOGGING=false

# MultiFactor Express API (ОБЯЗАТЕЛЬНО)
MFEXPRESSAPI__BASEURL=https://mf-express-service.ru.tuna.am
MFEXPRESSAPI__CHATCREATEDENDPOINT=/api/express/webhook/chat-created
MFEXPRESSAPI__AUTHCALLBACKENDPOINT=/api/express/webhook/auth-callback
MFEXPRESSAPI__REQUESTTIMEOUTSECONDS=30

# Environment
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
